# Dependencies
node_modules/
venv/
__pycache__/
*.py[cod]

# Environment & Config
.env


*.swp


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vite.log
flask.log

# Build Outputs
dist/
build/

# Data Files (Large files, databases, scientific data)
*.fits
*.zip
*.tar.gz
*.csv
*.db
*.sqlite3
db.sqlite3

# Specific Binaries/Tools
mc
curl

# Editor/OS Files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
/data/
/uploading/
/09042025/
/2026/